@{
    ViewBag.Title = "MobilephoneMaintenance";
}
@model Nickron.Database.Mobile

@using (Html.BeginForm("MobilephoneMaintenance", "Product", FormMethod.Post, new { @class = "form-horizontal", onsubmit = "return ValidateForm();" }))
{
   
<div class="col-md-6">

    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title">GENERAL FEATURE</h3>
        </div>
        <div class="box-body">
            <!-- Date dd/mm/yyyy -->
            <div class="form-group">
                <label>Product Date:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input name="ProductDate" id="ProductDate" type="text" data-mask="" data-inputmask="'alias': 'dd/mm/yyyy'" class="form-control">
                </div><!-- /.input group -->
            </div><!-- /.form group -->	

            <div class="form-group">
                <label>In The Box:</label><span class="astrisk">*</span>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i>
                    </div>
                    <input id="InBox" name="InBox" type="text" maxlength="1000" class="form-control" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->
        
            <div class="form-group">
                <label>Model Number:</label><span class="astrisk">*</span>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i> 
                    </div>
                    <input id="ModelNumber" name="ModelNumber" type="text" maxlength="200" class="form-control" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->
        
            <div class="form-group">
                <label>Model Name:</label><span class="astrisk">*</span>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i>
                    </div>
                    <input id="ModelName" name="ModelName" type="text" maxlength="500" class="form-control" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->							
                                    
				<div class="form-group">
                <label>Manufacture:</label><span class="astrisk">*</span>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i>
                    </div>                    
                    <select id="Manufacture" name="Manufacture" class="form-control" ></select>
                   
                    </div><!-- /.input group -->
            </div><!-- /.form group -->
									
				<div class="form-group">
                <label>Form Factor:</label><span class="astrisk">*</span>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i>
                    </div>                    
                    <select id="FormFactor" name="FormFactor" class="form-control">
                        <option value="0">---Select---</option>
                        <option value="1">Bar</option>
                        <option value="2">Square</option>
                    </select>
                </div><!-- /.input group -->
            </div><!-- /.form group -->
									
				<div class="form-group">
                <label>Call Features:</label><span class="astrisk">*</span>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i>
                    </div>
                    <input id="CallFeatures" name="CallFeatures" type="text" maxlength="40" class="form-control" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->
									
				<div class="form-group">
                <label>SIM Size:</label><span class="astrisk">*</span>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i>
                    </div>
                    <input id="SimSize" name="SimSize" maxlength="20" type="text" class="form-control" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		

			<div class="form-group">
                <label>SIM Type:</label><span class="astrisk">*</span>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i>
                    </div>
                    <input id="SimType" name="SimType" maxlength="20" type="text" class="form-control" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	

        </div><!-- /.box-body -->
    </div><!-- /.box -->

    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">CAMERA</h3>
        </div>
        <div class="box-body">
                                   
			<div class="form-group">
                <label>Primary Cameray:</label><span class="astrisk">*</span>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="PrimaryCamera" name="PrimaryCamera" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		

            <div class="form-group">
                <label>Secondary Camera:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="SecondryCamera" name="SecondryCamera" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
           
									
				<div class="form-group">
                <label>Video Recording:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="VideoRecording" name="VideoRecording" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		
									
				@*<div class="form-group">
                <label>Other Camera Features:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <textarea id="OtherCameraFeatures" name="OtherCameraFeatures" class="form-control pull-right"></textarea>
                </div><!-- /.input group -->
            </div><!-- /.form group -->*@										
								  								
        </div><!-- /.box-body -->
								
								 
        <div class="box-body">
                                   
			<div class="box-header">
            <h3 class="box-title">DIMENTIONS</h3>
			</div>
								   
			<div class="form-group">
                <label>Size:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="Dimension" name="Dimension" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		

            <div class="form-group">
                <label>Weight:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="Weight" name="Weight" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->											
								  								
        </div><!-- /.box-body -->
								
								
								
        <div class="box-body">
                                   
			<div class="box-header">
            <h3 class="box-title">BATTERY</h3>
            </div>
									
			<div class="form-group">
                <label>Type:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="BatteryType" name="BatteryType" type="text" maxlength="100" class="form-control pull-right" /> 
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
           
			<div class="form-group">
                <label>Standby Time:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="BatteryStandBy" name="BatteryStandBy" type="text" maxlength="20" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		
        
            <div class="form-group">
                <label>Battery Capacity:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i></i>
                    </div>
                    <input id="BatteryCapacity" name="BatteryCapacity" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->										
								  								
        </div><!-- /.box-body -->
								
								 
        <div class="box-body">
								
            <div class="box-header">
            <h3 class="box-title">MULTIMEDIA</h3>
            </div>
								
			<div class="form-group">
                <label>Music Player:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="MusicPlayer" name="MusicPlayer" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		

            <div class="form-group">
                <label>Video Player:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="VideoPlayer" name="VideoPlayer" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
        
            <div class="form-group">
                <label>Sound Enhancement:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i></i>
                    </div>
                    <input id="SoundEnhancement" name="SoundEnhancement" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->

            <div class="form-group">
                <label>Ringtone:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i></i>
                    </div>
                    <input id="RingTone" name="RingTone" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		

			<div class="form-group">
                <label>FM:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <select id="FM" name="FM" class="form-control">
                        <option value="0">---Select---</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </div><!-- /.input group -->
            </div><!-- /.form group -->															
								  								
        </div><!-- /.box-body -->								
								
        <div class="box-body">
                                   
			<div class="box-header">
                <h3 class="box-title">WARRANTY</h3>
            </div>
								
			<div class="form-group">
                <label>Warranty Summary:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <textarea id="WarrantySummary" name="WarrantySummary" maxlength="1000" class="form-control pull-right"></textarea>
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
								  								
        </div><!-- /.box-body -->
								
								
    </div><!-- /.box -->

</div><!-- /.col (left) -->
						
<div class="col-md-6">
						
    <div class="box box-primary">
                               
        <div class="box-body">
								
			<div class="box-header">
            <h3 class="box-title">Platform</h3>
        </div>
                                 
            <div class="form-group">
                <label>Operating Freq:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i>
                    </div>
                    <input id="OperatingFrequencies" name="OperatingFrequencies" type="text" maxlength="60" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->
									
			<div class="form-group">
                <label>OS:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=""></i>
                    </div>
                    <input id="OperatingSystem" name="OperatingSystem" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->

			<div class="form-group">
                <label>RAM:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="Processor" name="Processor" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->											
									                                      
        </div><!-- /.box-body -->
    </div><!-- /.box -->
                            
    <div class="box box-success">							                              
								
        <div class="box-body">								
            <!-- Minimal style -->
				<div class="box-header">
                <h3 class="box-title">Display</h3>
            </div>
									
            <div class="form-group">
                <label>Type:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="DisplayType" name="DisplayType" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		
									
				<div class="form-group">
                <label>Size:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="DisplaySize" name="DisplaySize" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		

			<div class="form-group">
                <label>Resolution:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="DisplayResolution" name="DisplayResolution" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
                                  
        </div><!-- /.box-body -->								
								
        <div class="box-body">								
            <!-- Minimal style -->
				<div class="box-header">								 
                <h3 class="box-title"> MEMORY AND STORAGE</h3>
                </div>
									
            <div class="form-group">
                <label>ROM:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="InternalStorage" name="InternalStorage" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		
									
				<div class="form-group">
                <label>Expandable Memory:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="ExternalStorage" name="ExternalStorage" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		

			<div class="form-group">
                <label>Phone Book Memory:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="PhoneMemory" name="PhoneMemory" type="text" maxlength="20" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
                                  
        </div><!-- /.box-body -->
															
								
        <div class="box-body">								
            <!-- Minimal style -->									
				<div class="box-header">
				<h3 class="box-title"> INTERNET & CONNECTIVITY</h3>
			</div>
								
            <div class="form-group">
                <label>Internet Features:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="InternetFeatures" name="InternetFeatures" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		
									
				<div class="form-group">
                <label>Preinstalled Browser:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="PreinstalledBrowser" name="PreinstalledBrowser" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->		

			<div class="form-group">
                <label>GPRS:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="GPRS_2G" name="GPRS_2G" type="text" maxlength="60" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
									
			@*<div class="form-group">
                <label>EDGE:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="EDGE_2G" name="EDGE_2G" type="text" maxlength="60" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->*@	
									
			<div class="form-group">
                <label>3G:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="HSPA_3G" name="HSPA_3G" type="text" maxlength="60" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
									
			<div class="form-group">
                <label>EDGE_2G:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="EDGE_2G" name="EDGE_2G" type="text" maxlength="60" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
									
			<div class="form-group">
                <label>Wifi:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="WiFi" name="WiFi" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
									
			<div class="form-group">
                <label>Tethering:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="Hotspot" name="Hotspot" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
									
			<div class="form-group">
                <label>USB Connectivity:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="USB" name="USB" type="text" maxlength="60" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
									
			<div class="form-group">
                <label>Bluetooth:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="Bluetooth" name="Bluetooth" type="text" maxlength="40" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
									
			<div class="form-group">
                <label>Supported Networks:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <input id="SupportedNetworks" name="SupportedNetworks" type="text" maxlength="100" class="form-control pull-right" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->	
                                  
        </div><!-- /.box-body -->
								
								
        <div class="box-body">
                                   
			<div class="box-header">
				<h3 class="box-title">OTHER FEATURES</h3>
			</div>	

			<div class="form-group">
                <label>Note:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <textarea id="NoteSummary" name="NoteSummary" maxlength="1000" class="form-control pull-right"></textarea>
                </div><!-- /.input group -->
            </div><!-- /.form group -->		

			@*<div class="form-group">
                <label>Additional Features:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                            <i ></i>
                    </div>
                    <textarea  class="form-control pull-right"></textarea>
                </div><!-- /.input group -->
            </div><!-- /.form group -->*@	

				<div class="box box-success">                              
					<div class="box-footer">
                        <input type="hidden" name="Id" id="Id" value="@ViewBag.Id" />
						<button type="submit" class="btn btn-primary" style=" width:80px;">Save</button>
						<button type="submit" class="btn btn-primary" onclick="GoBackListing()" style=" width:80px;">Cancel</button>
					</div>
			</div><!-- /.box -->
								  								
        </div><!-- /.box-body -->
                             
    </div><!-- /.box -->
</div><!-- /.col (right) -->
    @*<input type="hidden" name="MobileId" id="MobileId" />*@
    
    <script>       
        function ValidateForm() {

            RequiredTextbox("InBox", "Enter the InTheBox")
            RequiredTextbox("ModelNumber", "Enter the Model Number")
            RequiredTextbox("ModelName", "Enter the Model Name")
            RequiredTextbox("Manufacture", "Select the Manufacture")
            RequiredTextbox("FormFactor", "Select the FormFactor")
            RequiredTextbox("SimSize", "Select the SimSize")
            RequiredTextbox("SimType", "Enter the SimType")

            //if (document.getElementById("InBox").value == "") {
            //    alert("In The Box can't be empty!");
            //    document.getElementById("InBox").focus();
            //    return false;
            //}          
            //if (document.getElementById("ModelNumber").value == "") {
            //    alert("Model Number can't be empty!");
            //    document.getElementById("ModelNumber").focus();
            //    return false;
            //}
            //if (document.getElementById("ModelName").value == "") {
            //    alert("Model Name can't be empty!");
            //    document.getElementById("ModelName").focus();
            //    return false;
            //}          
            //var Manufacture = document.getElementById("Manufacture").value;
            //if ((Manufacture == 0) || (Manufacture == "")) {
            //    alert("Please select Manufacture"); // prompt user
            //    document.getElementById("Manufacture").focus(); //set focus back to control
            //    return false;
            //}
            //var FormFactor = document.getElementById("FormFactor").value;
            //if ((FormFactor == 0) || (FormFactor == "")) {
            //    alert("Please select FormFactor!"); // prompt user
            //    document.getElementById("FormFactor").focus(); //set focus back to control
            //    return false;
            //}
            //if (document.getElementById("CallFeatures").value == "") {
            //    alert("Call Features can't be empty!");
            //    document.getElementById("CallFeatures").focus();
            //    return false;
            //}
            //if (document.getElementById("SimSize").value == "") {
            //    alert("SimSize can't be empty!");
            //    document.getElementById("SimSize").focus();
            //    return false;
            //}
            //if (document.getElementById("SimType").value == "") {
            //    alert("SimType can't be empty!");
            //    document.getElementById("SimType").focus();
            //    return false;
            //}
            //if (document.getElementById("PrimaryCamera").value == "") {
            //    alert("Primary Camera can't be empty!");
            //    document.getElementById("PrimaryCamera").focus();
            //    return false;
            //}

            return AlertError();
        }
        function LoadManufactures()
        {
            $.getJSON("@Url.Action("GetLookups", "Master", new { LookupType = "Manufacture" })", function (result) {
                var options = '';              
                $.each(result, function (item) {
                    options += '<option value="' + result[item].Id + '">' + result[item].Name + '</option>';
                });
                $("select#Manufacture").html(options);
            });
        }

        function GoBackListing() {
            window.location.replace('@Url.Action("Mobilephones","Product",null)');
        }

        LoadManufactures();

        $(document).ready(function () {
          
            $('#ProductDate').datepicker();
            if ("@ViewBag.Id" != "0")
            {
                $('#Id').val('@Model.Id');               
                $('#ProductDate').val('@Model.ProductDate');
                $('#InBox').val('@Model.InBox');
                $('#ModelNumber').val('@Model.ModelNumber');
                $('#ModelName').val('@Model.ModelName');
                $('#Manufacture').val('@Model.ManufactureId');
                $('#FormFactor').val('@Model.FormFactor');
                $('#CallFeatures').val('@Model.CallFeatures');
                $('#SimSize').val('@Model.SimSize');
                $('#SimType').val('@Model.SimType');
                $('#PrimaryCamera').val('@Model.PrimaryCamera');
                $('#SecondryCamera').val('@Model.SecondryCamera');
               
                $('#VideoRecording').val('@Model.VideoRecording');
                $('#Dimension').val('@Model.Dimension');
                $('#Weight').val('@Model.Weight');
                $('#BatteryType').val('@Model.BatteryType');
                $('#BatteryStandBy').val('@Model.BatteryStandBy');
                $('#BatteryCapacity').val('@Model.BatteryCapacity');
                $('#MusicPlayer').val('@Model.MusicPlayer');
                $('#VideoPlayer').val('@Model.VideoPlayer');
                $('#SoundEnhancement').val('@Model.SoundEnhancement');
                $('#RingTone').val('@Model.RingTone');
                $('#FM').val('@Model.FM');              
               
                $('#WarrantySummary').val('@Model.WarrantySummary');
                $('#OperatingFrequencies').val('@Model.Connectivity.OperatingFrequencies');
                $('#OperatingSystem').val('@Model.OperatingSystem');
                $('#Processor').val('@Model.Processor');
                $('#DisplayType').val('@Model.DisplayType');
                $('#DisplaySize').val('@Model.DisplaySize');
                $('#DisplayResolution').val('@Model.DisplayResolution');
                $('#InternalStorage').val('@Model.InternalStorage');
                $('#ExternalStorage').val('@Model.ExternalStorage');
                $('#PhoneMemory').val('@Model.PhoneMemory');
                @*$('#Memory').val('@Model.Memory');*@
                $('#InternetFeatures').val('@Model.InternetFeatures');
                $('#PreinstalledBrowser').val('@Model.PreinstalledBrowser');
                $('#HSPA_3G').val('@Model.Connectivity.HSPA_3G');
                $('#GPRS_2G').val('@Model.Connectivity.GPRS_2G');
                $('#EDGE_2G').val('@Model.Connectivity.EDGE_2G');
                $('#WiFi').val('@Model.WiFi');
                $('#Hotspot').val('@Model.Connectivity.Hotspot');
                $('#USB').val('@Model.Connectivity.USB');
                $('#Bluetooth').val('@Model.Connectivity.Bluetooth');
                $('#SupportedNetworks').val('@Model.Connectivity.SupportedNetworks');
                @*$('#CallMemory').val('@Model.CallMemory');
                $('#SMSMemory').val('@Model.SMSMemory');*@
                $('#NoteSummary').val('@Model.NoteSummary');

            }

        });
    </script>
    
}
