@{
    ViewBag.Title = "Company Maintenance";
}

@model Nickron.Database.Company

@using (Html.BeginForm("Maintenance", "Company", FormMethod.Post, new { @class = "form-horizontal", onsubmit = "return ValidateForm();" }))
{
    <div class="col-md-6">

        <div class="box box-danger">
            <div class="box-body">

                <div class="form-group">
                    <label> Company Name:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Name" name="Name" maxlength="250" type="text" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->


                <div class="form-group">
                    <label> Contact Person Name:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="ContactPerson" name="ContactPerson" maxlength="250" type="text" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->
                @*<div class="form-group">
                        <label> Last Name:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class=""></i>
                            </div>
                            <input id="Lastname" name="Lastname" maxlength="250" type="text" class="form-control" />
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->*@


                <div class="form-group">
                    <label> Address Line 1:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Address1" name="Address1" maxlength="500" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Address Line 2:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Address2" name="Address2" maxlength="500" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group"><span class="astrisk">*</span>
                    <label> City:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="City" name="City" maxlength="250" type="text" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Zip:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Zip" name="Zip" type="text" maxlength="6" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> State:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <select id="State" name="State" class="form-control">                           
                        </select>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Country:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <select id="Country" name="Country" class="form-control">                         
                        </select>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col (left) -->
    <div class="col-md-6">
        <div class="box box-primary">

            <div class="box-body">
                <!-- Date range -->
                <div class="form-group">
                    <label> Mobile Number 1:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Mobile1" name="Mobile1" type="text" maxlength="20" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Mobile Number 2:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Mobile2" name="Mobile2" type="text" maxlength="20" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Phone Number 1:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Phone1" name="Phone1" type="text" maxlength="20" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Phone Number 2:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Phone2" name="Phone2" type="text" maxlength="20" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Email ID:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Email" name="Email" type="text" maxlength="250" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Web:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Website" name="Website" maxlength="250" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->


                <div class="form-group">
                    <label> User Name:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Username" name="Username" maxlength="250" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Password:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Password" name="Password" maxlength="250" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    @*<div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkStatus" />
                                Status
                            </label>
                        </div>*@

                </div><!-- /.form group -->

            </div><!-- /.box-body -->
        </div><!-- /.box -->

        <div class="box box-success">
            <div class="box-footer">
                <input type="hidden" name="Id" id="Id" value="@ViewBag.Id" />
                <button type="submit" class="btn btn-primary" style=" width:80px;">Save</button>
                <button type="reset" class="btn btn-primary" style=" width:80px;">Cancel</button>
            </div>
        </div><!-- /.box -->
    </div><!-- /.col (right) -->
}

<script type="text/javascript">
    function ValidateForm() {

        if (document.getElementById("Company").value == "") {
            alert("Company can't be empty!");
            document.getElementById("Company").focus();
            return false;
        }
        if (document.getElementById("ContactPerson").value == "") {
            alert("Contact person can't be empty!");
            document.getElementById("ContactPerson").focus();
            return false;
        }
        if (document.getElementById("Address1").value == "") {
            alert("Address person can't be empty!");
            document.getElementById("Address1").focus();
            return false;
        }
        if (document.getElementById("City").value == "") {
            alert("City can't be empty!");
            document.getElementById("City").focus();
            return false;
        }
        var selectState = document.getElementById("State").value;
        if ((selectState == 0)||(selectState=="")) {
            alert("Please select State"); // prompt user
            document.getElementById("State").focus(); //set focus back to control
            return false;
        }
        var selectState = document.getElementById("Country").value;
        if ((selectState == 0) || (selectState == "")) {
            alert("Please select Country!"); // prompt user
            document.getElementById("Country").focus(); //set focus back to control
            return false;
        }
       // RequiredTextbox("Company", "Enter the Company Name")
       // RequiredTextbox("ContactPerson", "Enter the Contact Person")
       // RequiredTextbox("Address1", "Enter the Address")
       // RequiredTextbox("City", "Enter the City")

       

        return AlertError();
    }

    function LoadCountries()
    {
        $.getJSON("@Url.Action("GetCountries", "Master")", function (result) {
            var options = '';
            options += '<option value="0">---SELECT COUNTRY---</option>';
            $.each(result, function (item) {
                options += '<option value="' + result[item].Id + '">' + result[item].Name + '</option>';
            });
            $("select#Country").html(options);
        });
        $("#Country").prop('selectedIndex', -1);
    }

    function LoadStates()
    {
        $.getJSON("@Url.Action("GetStates", "Master", new { Country = "India"})", function (result) {
            var options = '';
            options += '<option value="0">---SELECT STATE---</option>';
            $.each(result, function (item) {
                options += '<option value="' + result[item].Id + '">' + result[item].Name + '</option>';
            });
            $("select#State").html(options);
        });
        $("#State").prop('selectedIndex', -1);
    }

    function AutoCompleteCity()
    {
        $("#City").autocomplete({
            source: function (request, response) {
                var cities = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@Url.Action("GetCities", "Master")",
                    data: { "Name": request.term },
                success: function (data) {
                    for (var i = 0; i < data.length ; i++) {
                        cities[i] = { label: data[i].Name, Id: data[i].Id };
                    }
                }
            });
        response(cities);
        },
        select: function (event, ui) {
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                url: "@(Url.Action("GetStateCountry", "Master"))",
                data: { "CityId": ui.item.Id },
            success: function (data) {
                $('select#State').val(data[0].StateId);
                $('select#Country').val(data[0].CountryId);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
        }
        });
    }

    $(document).ready(function () {
        LoadStates();
        LoadCountries();
        AutoCompleteCity();

        if("@ViewBag.Id" != "0")
        {
            $('#Id').val('@Model.Id');
            $('#Name').val("@Model.Name");
            $('#ContactPerson').val("@Model.ContactPerson");
            $('#Address1').val("@Model.Address.Address1");
            $('#Address2').val("@Model.Address.Address2");
            $('#City').val("@Model.Address.City");
            $('#Zip').val("@Model.Address.Zip");
            $('#State').val("@Model.Address.State")
            $('#Country').val("@Model.Address.Country");
            $('#Mobile1').val("@Model.Contact1.Mobile");
            $('#Mobile2').val("@Model.Contact2.Mobile")
            $('#Phone1').val("@Model.Contact1.Phone")
            $('#Phone2').val("@Model.Contact2.Phone")
            $('#Email').val("@Model.Contact1.Email");
            $('#Website').val("@Model.Contact1.Website");
            @*$('#Username').val("@Model.")*@
            @*$('#Password').val("@Model.")*@
                      
        }
    })
</script>
