@{
    ViewBag.Title = "Stockits Maintenance";
}

@model Nickron.Database.Stockhouse

@using (Html.BeginForm("Maintenance", "Stockhouse", FormMethod.Post, new { @class = "form-horizontal", onsubmit = "return ValidateForm();" }))
{
    <div class="col-md-6">

        <div class="box box-danger">
            <div class="box-body">
                
                <div class="form-group">
                    <label> State:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <select id="ddl_State" name="ddl_State" class="form-control">
                            <option value="0">---Select---</option>
                        </select>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Zone:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <select id="Zone" name="Zone" class="form-control"></select>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Town:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <select id="Town" name="Town" class="form-control"></select>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Company:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <select id="Company" name="Company" class="form-control"></select>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Name:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Stockhouse" name="Stockhouse" maxlength="250" type="text" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Contact Person Name:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="ContactPerson" name="ContactPerson" maxlength="250" type="text" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <!-- Date dd/mm/yyyy -->
                <div class="form-group">
                    <label> Registration Date:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" id="JoinDate" name="JoinDate" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'"/>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Name of the firm:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="NameOfthefirm" name="NameOfthefirm" maxlength="250" type="text" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->
               
                @*<div class="form-group">
                        <label> Last Name:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class=""></i>
                            </div>
                            <input id="Lastname" name="Lastname" maxlength="250" type="text" class="form-control" />
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->*@

                

                <div class="form-group">
                    <label> Address Line 1:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Address1" name="Address1" maxlength="500" class="form-control">
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Address Line 2:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Address2" name="Address2" maxlength="500" class="form-control">
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group"><span class="astrisk">*</span>
                    <label> City:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="City" name="City" maxlength="250" type="text" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Zip:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Zip" name="Zip" type="text" maxlength="6" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> State:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <select id="State" name="State" class="form-control">
                        </select>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Country:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <select id="Country" name="Country" class="form-control">
                        </select>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Mobile Number 1:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Mobilenumber1" name="Mobilenumber1" type="text" maxlength="20" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Mobile Number 2:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="Mobilenumber2" name="Mobilenumber2" type="text" maxlength="20" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Phone Number 1:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Phonenumber1" name="Phonenumber1" type="text" maxlength="20" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Phone Number 2:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Phonenumber2" name="Phonenumber2" type="text" maxlength="20" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Email ID:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Email" name="Email" type="text" maxlength="250" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col (left) -->
    <div class="col-md-6">
        <div class="box box-primary">

            <div class="box-body">              
               

                <div class="form-group">
                    <label> Website:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Website" name="Website" type="text" maxlength="40" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->                

                <div class="form-group">
                    <label> Pan No:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Panno" name="Panno" maxlength="20" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Tin No:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Tinno" name="Tinno" maxlength="20" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> CST No:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="CSTno" name="CSTno" maxlength="250" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> ID Proff:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Idproff" name="Idproff" maxlength="250" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Communication Address:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="CommunicationAddress" name="CommunicationAddress" maxlength="500" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Current Business:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="CurrentBusiness" name="CurrentBusiness" maxlength="20" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Name of the Bank/branch:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="NameOfBank" name="NameOfBank" maxlength="20" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Bank AC No:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="BankAcNo" name="BankAcNo" maxlength="25" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> IFSC Code:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="IFSCCode" name="IFSCCode" maxlength="25" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Business covered Area:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="BusinesscoveredArea" name="BusinesscoveredArea" maxlength="500" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Location:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Location" name="Location" maxlength="500" type="text" class="form-control pull-right"/>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Man Power:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input name="ManPower" id="ManPower" maxlength="3" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                @*<div class="form-group">
                    <label> Strength Of Field Force:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input name="StrengthFF" id="StrengthFF" maxlength="250" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->*@

                <div class="form-group">
                    <label> Peak Sales Period:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input name="date1" id="date1" maxlength="50" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        
                    </div><!-- /.input group -->

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input name="date2" id="date2" maxlength="50" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Popular Festivals Fairs:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Popularfestivals" name="Popularfestivals" maxlength="100" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> uplode the 1 PDF File:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Pdfupload" name="Pdfupload" type="file" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label>Recommended By:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=""></i>
                        </div>
                        <input id="RecommendedBy" name="RecommendedBy" maxlength="250" type="text" class="form-control" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Comments:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Comments" name="Comments" maxlength="500" class="form-control pull-right"></input>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> User Name:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Username" name="Username" maxlength="20" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label> Password:</label><span class="astrisk">*</span>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                        <input id="Password" name="Password" maxlength="20" type="text" class="form-control pull-right" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    @*<div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkStatus" />
                                Status
                            </label>
                        </div>*@
                </div><!-- /.form group -->

            </div><!-- /.box-body -->
        </div><!-- /.box -->

        <div class="box box-success">
            <div class="box-footer">
                <input type="hidden" name="Id" id="Id" value="@ViewBag.Id" />
                <button type="submit" class="btn btn-primary" style=" width:80px;">Save</button>
                <button type="reset" class="btn btn-primary" style=" width:80px;">Cancel</button>
            </div>
        </div><!-- /.box -->
    </div><!-- /.col (right) -->

}

<script type="text/javascript">
    function ValidateForm() {        
    
        RequiredTextbox("Zone", "Select the Zone")
        RequiredTextbox("Stockhouse", "Enter the Name")
        RequiredTextbox("ContactPerson", "Enter the Contact Person")       
        RequiredTextbox("JoinDate", "Select Registration Date")
        RequiredTextbox("NameOfthefirm", "Enter The Name Of the firm")
        RequiredTextbox("Address1", "Enter the Address1")
        RequiredTextbox("Address2", "Enter the Address2")
        RequiredTextbox("City", "Enter the City")
        RequiredTextbox("State", "Enter the State")
        RequiredTextbox("Country", "Enter the Country")
        RequiredTextbox("Username", "Enter the UserName")
        RequiredTextbox("Password", "Enter the Password")
       
        return AlertError();
    }

    function LoadCompanies()
    {
        $.getJSON("@Url.Action("GetLookups", "Master", new { LookupType = "Company" })", function (result) {
            var options = '';
            $.each(result, function (item) {
                options += '<option value="' + result[item].Id + '">' + result[item].Name + '</option>';
            });
            $("select#Company").html(options);
        });
    }

    function LoadZones()
    {
        $.getJSON("@Url.Action("GetLookups", "Master", new { LookupType = "Zone" })", function (result) {
            var options = '';
            $.each(result, function (item) {
                options += '<option value="' + result[item].Id + '">' + result[item].Name + '</option>';
            });
            $("select#Zone").html(options);
        });
    }

    function LoadCountries()
    {
        $.getJSON("@Url.Action("GetCountries", "Master")", function (result) {
            var options = '';
            $.each(result, function (item) {
                options += '<option value="' + result[item].Id + '">' + result[item].Name + '</option>';
            });
            $("select#Country").html(options);
        });
        $("#Country").prop('selectedIndex', -1);
    }

    function LoadStates()
    {
        $.getJSON("@Url.Action("GetStates", "Master", new { Country = "India"})", function (result) {
            var options = '';
            $.each(result, function (item) {
                options += '<option value="' + result[item].Id + '">' + result[item].Name + '</option>';
            });
            $("select#State").html(options);
        });
        $("#State").prop('selectedIndex', -1);
    }

    function AutoCompleteCity()
    {
        $("#City").autocomplete({
            source: function (request, response) {
                var cities = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@Url.Action("GetCities", "Master")",
                    data: { "Name": request.term },
                success: function (data) {
                    for (var i = 0; i < data.length ; i++) {
                        cities[i] = { label: data[i].Name, Id: data[i].Id };
                    }
                }
            });
        response(cities);
        },
        select: function (event, ui) {
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                url: "@(Url.Action("GetStateCountry", "Master"))",
                data: { "CityId": ui.item.Id },
            success: function (data) {
                $('select#State').val(data[0].StateId);
                $('select#Country').val(data[0].CountryId);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
        }
        });
    }

    $(document).ready(function () {

        LoadCompanies();
        LoadZones();
        LoadStates();
        LoadCountries();
        AutoCompleteCity();

        $('#JoinDate').datepicker();
        $('#date1').datepicker();
        $('#date2').datepicker();

        if("@ViewBag.Id" != "0")
        {
            $('#Company').val("@Model.CompanyId");
            $('#Stockhouse').val("@Model.Name");
            $('#JoinDate').val('@Model.JoiningDate');
            $('#RecommendedBy').val('@Model.RecommendationFrom');
            $('#ContactPerson').val("@Model.ContactPerson");
            $('#Zone').val("@Model.ZoneId");
            $('#Address1').val("@Model.Address.Address1");
            $('#Address2').val("@Model.Address.Address2");
            $('#City').val("@Model.Address.City");
            $('#Zip').val("@Model.Address.Zip");
            $('#State').val("@Model.Address.State")
            $('#Country').val("@Model.Address.Country");
            $('#Mobilenumber1').val("@Model.Contact1.Mobile");
            $('#Mobilenumber2').val("@Model.Contact2.Mobile")
            $('#Phonenumber1').val("@Model.Contact1.Phone")
            $('#Phonenumber2').val("@Model.Contact2.Phone")
            $('#Email').val("@Model.Contact1.Email");
            $('#Location').val("@Model.Location");

            $('#StrengthFF').val("@Model.StrengthOfFieldForce");
            $('#Peeksaleperiod').val("@Model.PeakSalesPeriod");
            $('#Popularfestivals').val("@Model.PopularFestivalFairs");
            $('#Comments').val("@Model.ApprovalComments");
            @*$('#Username').val("@Model.")*@
        }
    })
</script>
